<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>




php_value upload_max_filesize 1920M
php_value post_max_size 2000M
php_value memory_limit 3000M
php_value display_errors On
